* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fempty-classroom-cartoon-vector-20511589&psig=AOvVaw3s_qbL33mO88cTocH3MfZ9&ust=1702794394702000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNiJrtCpk4MDFQAAAAAdAAAAABAI');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fempty-classroom-cartoon-vector-20511589&psig=AOvVaw3s_qbL33mO88cTocH3MfZ9&ust=1702794394702000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNiJrtCpk4MDFQAAAAAdAAAAABAI'); 
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fempty-classroom-cartoon-vector-20511589&psig=AOvVaw3s_qbL33mO88cTocH3MfZ9&ust=1702794394702000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNiJrtCpk4MDFQAAAAAdAAAAABAI');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
